<h1>Register</h1>
<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <!-- TODO Fix flash messages! Currently they show on one line  -->
            <% if(messages.error) { %>
            <span class="text-red text-sm"><%= messages.error %></span>
            <% } %>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">username</label>
                <input
                    class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder="username" name="name"
                    value="<%= typeof name != 'undefined' ? name : ''%>">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input
                    class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" type="email" placeholder="email" name="email"
                    value="<%= typeof email != 'undefined' ? email : ''%>">
                <div class=" mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">password</label>
                    <input
                        class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="password" type="password" placeholder="password" name="password"
                        value="<%= typeof password != 'undefined' ? password : ''%>">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">password</label>
                    <input
                        class="shadow apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="password" type="password" placeholder="password" name="password2"
                        value="<%= typeof password2 != 'undefined' ? password2 : ''%>">
                </div>
                <div class="flex items-center justify-between">
                    <button
                        class="btn-primary text-white font-bold py-2 px-5 rounded-full focusLoutline-none focus:shadow-outline"
                        type="submit">
                        Register
                    </button>
                    <a class="inline-blovk align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                        href="/login">
                        Already have an account?
                    </a>
                </div>
        </form>
    </div>
</section>